.appbar {
  background-color: rgb(18, 18, 18);

  .buttoncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    * {
      margin-left: 15px;
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}